In [1]:
sent = "They told that their ages are 25 26 and 31 respectively."

In [2]:
# Find the averages of ages mentioned in the statement
age, count = 0, 0
for s in sent.split(' '):
    if s.isdigit():
        age += int(s)
        count += 1

print(f"The sum of ages is: {age}")
print(f"The average of ages is {round(age/count, 2)}")


### Alternate Code
words = sent.split()
ages = [int(word) for word in words if word.isdigit()]
ages

The sum of ages is: 82
The average of ages is 27.33

[25, 26, 31]

In [3]:
sents = '''Hello friends!
How are you? Welcome to Python Programming.'''

# Find how many sentences are in it?
punctuations = ['!', '?', '.']
count = 0
for char in sents:
    if char in punctuations:
        count += 1

count

3

In [4]:
sents = '''hello friends!
how are you? welcome to Python Programming.'''

words = sents.split()

for i in range(len(words)):
    letters = words[i].split()
    for letter in letters:
        if letter in punctuations:
            words[i+1] = words[i+1].capitalize()


new_str = ' '.join(words)
print(new_str)

hello friends! how are you? welcome to Python Programming.

## NLTK

In [5]:
import nltk

In [6]:
# nltk.download('stopwords')
# nltk.download('averaged_perceptron_tagger')
# nltk.download('wordnet')
# nltk.download('omw-1.4')
# nltk.download('indian')
# nltk.download('maxent_ne_chunker')
# nltk.download('punkt')
# nltk.download('words')

## Sentence Tokenization

In [8]:
from nltk.tokenize import sent_tokenize

sents = '''Hello friends! How are you? Welcome to Python Programming.'''

sent_list = sent_tokenize(sents)
sent_list

['Hello friends!', 'How are you?', 'Welcome to Python Programming.']

### Word Tokenization

In [9]:
from nltk.tokenize import word_tokenize

sents = '''Hello friends! ,,, How are you? Welcome to Python Programming.'''

words = word_tokenize(sents)
words

['Hello',
 'friends',
 '!',
 ',',
 ',',
 ',',
 'How',
 'are',
 'you',
 '?',
 'Welcome',
 'to',
 'Python',
 'Programming',
 '.']

## Removing Punctuations

In [70]:
### List of all punctuations in python
import string

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [82]:
### Percentage of punctuation symbols
sents = '''Hello friends!
How are you? Welcome to Python Programming.'''

words = word_tokenize(sents)
print(words)

count = 0
for word in words:
    if word in string.punctuation:
        count += 1

print((count/len(words))*100)

['Hello', 'friends', '!', 'How', 'are', 'you', '?', 'Welcome', 'to', 'Python', 'Programming', '.']
25.0

## Character to ASCII Code

In [83]:
ord('T')

84

In [84]:
chr(84)

'T'

## ASCII Code to Character

In [85]:
ord(' ')

32

In [86]:
ord('üòÇ')

128514

In [87]:
chr(128514)

'üòÇ'

In [88]:
chr(128516)

'üòÑ'

In [90]:
chr(0x055)

'U'

In [91]:
chr(0x0920)

'‡§†'

In [92]:
chr(0x0969)

'‡•©'

In [94]:
chr(0x0AB0) + chr(0x0A86)

'‡™∞‡™Ü'

In [95]:
names = ['‡™∞‡™æ‡™ú', '‡™∞‡´ã‡™π‡™ø‡™§', '‡™µ‡´á‡™¶‡™Æ‡™æ‡™®‡´Ä', '‡™∞‡´Å‡™ö‡™ø‡™∞']

for name in names:
    if name.startswith('‡™∞'):
        print(name)

‡™∞‡™æ‡™ú
‡™∞‡´ã‡™π‡™ø‡™§
‡™∞‡´Å‡™ö‡™ø‡™∞

In [96]:
'\u0915\u0945'

'‡§ï‡•Ö'

In [98]:
sentence = '‡™à‡™ï‡´ã‡™®‡´ã‡™Æ‡™ø‡™ï ‡™ü‡™æ‡™à‡™Æ‡´ç‡™∏ ‡™¶‡´ç‡™µ‡™æ‡™∞‡™æ ‡™π‡™æ‡™• ‡™ß‡™∞‡™µ‡™æ‡™Æ‡™æ‡™Ç ‡™Ü‡™µ‡´á‡™≤‡™æ ‡™Ö‡™≠‡´ç‡™Ø‡™æ‡™∏ ‡™Æ‡´Å‡™ú‡™¨ 2019 ‡™•‡´Ä 2035 ‡™¶‡™∞‡™Æ‡™ø‡™Ø‡™æ‡™® ‡™∏‡´Å‡™∞‡™§ ‡™µ‡™ø‡™∂‡´ç‡™µ‡™®‡´Å‡™Ç ‡™∏‡´å‡™•‡´Ä ‡™ù‡™°‡™™‡™•‡´Ä ‡™µ‡™ø‡™ï‡™∏‡™§‡´Å‡™Ç ‡™∂‡™π‡´á‡™∞ ‡™¨‡™®‡™∂‡´á.'

word_tokenize(sentence)

['‡™à‡™ï‡´ã‡™®‡´ã‡™Æ‡™ø‡™ï',
 '‡™ü‡™æ‡™à‡™Æ‡´ç‡™∏',
 '‡™¶‡´ç‡™µ‡™æ‡™∞‡™æ',
 '‡™π‡™æ‡™•',
 '‡™ß‡™∞‡™µ‡™æ‡™Æ‡™æ‡™Ç',
 '‡™Ü‡™µ‡´á‡™≤‡™æ',
 '‡™Ö‡™≠‡´ç‡™Ø‡™æ‡™∏',
 '‡™Æ‡´Å‡™ú‡™¨',
 '2019',
 '‡™•‡´Ä',
 '2035',
 '‡™¶‡™∞‡™Æ‡™ø‡™Ø‡™æ‡™®',
 '‡™∏‡´Å‡™∞‡™§',
 '‡™µ‡™ø‡™∂‡´ç‡™µ‡™®‡´Å‡™Ç',
 '‡™∏‡´å‡™•‡´Ä',
 '‡™ù‡™°‡™™‡™•‡´Ä',
 '‡™µ‡™ø‡™ï‡™∏‡™§‡´Å‡™Ç',
 '‡™∂‡™π‡´á‡™∞',
 '‡™¨‡™®‡™∂‡´á',
 '.']

## White Space Tokenizer

In [102]:
from nltk.tokenize import WhitespaceTokenizer

sents = '''Hello friends! , ,
How are you? Welcome to Python Programming.'''

tk = WhitespaceTokenizer()

tk.tokenize(sents)

['Hello',
 'friends!',
 ',',
 ',',
 'How',
 'are',
 'you?',
 'Welcome',
 'to',
 'Python',
 'Programming.']

## Space Tokenizer

In [106]:
### Space Tokenizer
from nltk.tokenize import SpaceTokenizer

sents = '''Hello friends! ,
How are you? Welcome to Python Programming.'''

tk = SpaceTokenizer()

tk.tokenize(sents)

['Hello',
 'friends!',
 ',\nHow',
 'are',
 'you?',
 'Welcome',
 'to',
 'Python',
 'Programming.']

In [105]:
### Line Tokenizer
from nltk.tokenize import LineTokenizer

sents = '''Hello friends!
How are you? Welcome to Python Programming.'''

tk = LineTokenizer()

tk.tokenize(sents)

['Hello friends!', 'How are you? Welcome to Python Programming.']

In [109]:
### Tab Tokenizer
from nltk.tokenize import TabTokenizer

sents = '''Hello friends!
How are you?\tWelcome\tto Python Programming.'''

tk = TabTokenizer()

tk.tokenize(sents)

['Hello friends!\nHow are you?', 'Welcome', 'to Python Programming.']

In [123]:
### Tweet Toknizer
from nltk.tokenize import TweetTokenizer

sents = '''Hello friends! :) :! üòÇ
How are you? Welcome to #Python Programmingüòé
Check my web: https://python.org'''
print(sents)

tk = TweetTokenizer()
tk.tokenize(sents)

Hello friends! :) :! üòÇ
How are you? Welcome to #Python Programmingüòé
Check my web: https://python.org

['Hello',
 'friends',
 '!',
 ':)',
 ':',
 '!',
 'üòÇ',
 'How',
 'are',
 'you',
 '?',
 'Welcome',
 'to',
 '#Python',
 'Programming',
 'üòé',
 'Check',
 'my',
 'web',
 ':',
 'https://python.org']

In [124]:
wk = word_tokenize(sents)
wk

['Hello',
 'friends',
 '!',
 ':',
 ')',
 ':',
 '!',
 'üòÇ',
 'How',
 'are',
 'you',
 '?',
 'Welcome',
 'to',
 '#',
 'Python',
 'Programmingüòé',
 'Check',
 'my',
 'web',
 ':',
 'https',
 ':',
 '//python.org']

In [131]:
### Multi-Word Expression Tokenizer
from nltk.tokenize import MWETokenizer

sent = "Van Rossom is in Pune today. We welcomed van rossom here."

tk = MWETokenizer(sent, separator=' ')
tk.add_mwe(['van', 'rossom'])
tk.tokenize(word_tokenize(sent.lower()))

['van rossom',
 'is',
 'in',
 'pune',
 'today',
 '.',
 'we',
 'welcomed',
 'van rossom',
 'here',
 '.']

In [141]:
### Custom Tokenizer
import re

def custom_tokenizer(text):
    return re.split(r"[,.;?!\s]+", text)


sents = '''Hello friends!
How-are you? Wel.come to\tPython Progra?mming.'''

custom_tokenizer(sents)

['Hello',
 'friends',
 'How-are',
 'you',
 'Wel',
 'come',
 'to',
 'Python',
 'Progra',
 'mming',
 '']

In [154]:
with open('../data/student3.tsv') as f:
    data = f.read()
    
data

'roll\tname\tclass\tmarks\tage\n1\tanil\tTE\t56.77\t22\n2\tamit\tTE\t59.77\t21\n3\taniket\tBE\t76.88\t19\n4\tajinkya\tTE\t69.66\t20\n5\tasha\tTE\t63.28\t20\n6\tayesha\tBE\t49.55\t20\n7\tamar\tBE\t65.34\t19\n8\tamita\tBE\t68.33\t23\n9\tamol\tTE\t56.75\t20\n10\tanmol\tBE\t78.66\t21\n'

In [155]:
def custom_tokenizer(text):
    return re.split(r"[\n\t]+", text)

data = custom_tokenizer(data[:-1])

In [159]:
import numpy as np
arr = np.array(data).reshape(-1, 5)
arr

array([['roll', 'name', 'class', 'marks', 'age'],
       ['1', 'anil', 'TE', '56.77', '22'],
       ['2', 'amit', 'TE', '59.77', '21'],
       ['3', 'aniket', 'BE', '76.88', '19'],
       ['4', 'ajinkya', 'TE', '69.66', '20'],
       ['5', 'asha', 'TE', '63.28', '20'],
       ['6', 'ayesha', 'BE', '49.55', '20'],
       ['7', 'amar', 'BE', '65.34', '19'],
       ['8', 'amita', 'BE', '68.33', '23'],
       ['9', 'amol', 'TE', '56.75', '20'],
       ['10', 'anmol', 'BE', '78.66', '21']], dtype='<U7')

In [160]:
arr[0]

array(['roll', 'name', 'class', 'marks', 'age'], dtype='<U7')

In [163]:
import pandas as pd
df = pd.DataFrame(arr[1:], columns=arr[0])
df

  roll     name class  marks age
0    1     anil    TE  56.77  22
1    2     amit    TE  59.77  21
2    3   aniket    BE  76.88  19
3    4  ajinkya    TE  69.66  20
4    5     asha    TE  63.28  20
5    6   ayesha    BE  49.55  20
6    7     amar    BE  65.34  19
7    8    amita    BE  68.33  23
8    9     amol    TE  56.75  20
9   10    anmol    BE  78.66  21