## Text Vectorization

In [2]:
import pandas as pd

### Bag of Words

In [3]:
from sklearn.feature_extraction.text import CountVectorizer

sentences = ['The quick brown fox jumps over the lazy dog.', 'The cat chases the mouse and it squeaks loudly.',"dog quick"]

cv = CountVectorizer()
vect_data = cv.fit_transform(sentences)
df = pd.DataFrame(vect_data.toarray(), columns=cv.get_feature_names_out())
df

,and,brown,cat,chases,dog,fox,it,jumps,lazy,loudly,mouse,over,quick,squeaks,the
0,0,1,0,0,1,1,0,1,1,0,0,1,1,0,2
1,1,0,1,1,0,0,1,0,0,1,1,0,0,1,2
2,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0

### Bag of Words with n gram

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

sentences = ['The quick brown fox jumps over the lazy dog.', 'The cat chases the mouse and it squeaks loudly.',"dog quick"]

cv = CountVectorizer(ngram_range=(1,2))
vect_data = cv.fit_transform(sentences)
df = pd.DataFrame(vect_data.toarray(), columns=cv.get_feature_names_out())
df

,and,and it,brown,brown fox,cat,cat chases,chases,chases the,dog,dog quick,...,over the,quick,quick brown,squeaks,squeaks loudly,the,the cat,the lazy,the mouse,the quick
0,0,0,1,1,0,0,0,0,1,0,...,1,1,1,0,0,2,0,1,0,1
1,1,1,0,0,1,1,1,1,0,0,...,0,0,0,1,1,2,1,0,1,0
2,0,0,0,0,0,0,0,0,1,1,...,0,1,0,0,0,0,0,0,0,0

### Tf-IDF

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer

sentences = ['The quick brown fox jumps over the lazy dog.', 'The cat chases the mouse and it squeaks loudly.',"dog quick"]

tfidf = TfidfVectorizer(stop_words='english')
x = tfidf.fit_transform(sentences)

df = pd.DataFrame(x.toarray(), columns=tfidf.get_feature_names_out())
df

,brown,cat,chases,dog,fox,jumps,lazy,loudly,mouse,quick,squeaks
0,0.440362,0.000000,0.000000,0.334907,0.440362,0.440362,0.440362,0.000000,0.000000,0.334907,0.000000
1,0.000000,0.447214,0.447214,0.000000,0.000000,0.000000,0.000000,0.447214,0.447214,0.000000,0.447214
2,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000

In [11]:
tfidf.vocabulary_

{'quick': 9,
 'brown': 0,
 'fox': 4,
 'jumps': 5,
 'lazy': 6,
 'dog': 3,
 'cat': 1,
 'chases': 2,
 'mouse': 8,
 'squeaks': 10,
 'loudly': 7}